h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -3px;
    margin-bottom: 20px;
    transition: 0.2s;
}

body {
    background-color: #222222;
    cursor: default;
}

p {
    font-family: Arial;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    color: white;
}

.Language {
    text-align: center;
}

label {
    font-family: Arial;
    text-align: center;
}

.box {
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.python-title {
    font-size: 40px;
    font-family: Arial;
    color: whitesmoke;
}

h1:hover {
    transform: scale(1.1);
}

.lua-title {
    font-size: 42px;
    font-family: Arial;
    color: white;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;

   
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-family: Arial;
    font-size: 20px;
    display: inline-block;
    transition: 0.2s;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transform: scale(1.1);
}
