h1 {
    font-family: 'Arial Rounded MT';
    text-align: center;
    color: white;
    font-size: 70px;
}

body {
    background-color: darkblue;
}

p {
    font-family: 'Arial Rounded MT';
    text-align: center;
    font-size: 18px;
    margin: 5px;
    color: ghostwhite;
}

.Language {
    text-align: center;
}

label {
    font-family: 'Arial Rounded MT';
    text-align: center;
}

.box {
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 7px solid pink;
    border-radius: 20px;
}
